<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'feed' %>
      <div class="column is-half">
        <%= render 'who-to-follow' %>
        <%= render 'trending' %>      
      </div>    
    </div>
  </div>
</section>